logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn.lock
node_modules
worker/node_modules
pages/node_modules
worker/dist
pages/dist
dist
dist-ssr
*.local
.DS_Store
.env
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
worker/package-lock.json
pages/package-lock.json

