

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules (root, worker, pages)
node_modules/
worker/node_modules/
pages/node_modules/

# Build Artifacts (root, worker, pages)
dist/
dist-ssr/
worker/dist/
pages/dist/

# Lock files (root, worker, pages)
package-lock.json
yarn.lock
worker/package-lock.json
pages/package-lock.json

# Environment and system files
.env
worker/.env
pages/.env

*.local
worker/*.local
pages/*.local

.DS_Store
worker/*.DS_Store
pages/*.DS_Store
.DS_Store

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# wrangler.toml
worker/wrangler.toml
pages/wrangler.toml